<footer style="background-color: rgb(152, 183, 211);">
    <hr>
    <div class="Footer">
      <div class="socials-links">
        <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
        </div>
        <div class="company-copyright">
          &copy;StayNest Private Ltd.
        </div>
        <div class="privacy-terms">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
    
</footer>