<nav class="navbar navbar-expand-md bg-body-light border-bottom ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/Resource/logo.png" style="width: 3.5rem;height: 4rem;"></img><span class="p-2 nivasa " >StayNest</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
             
              <li class="nav-item">
                <a class="nav-link" href="/listings">Explore</a>
              </li>
             
              
            </ul>
            
             <div class="user-log ms-auto">
              <div class="logoutin">
                <ul class="log">
                  <li class="nav-item">
                    <a class="nav-link" href="/listings/new">Add New Listing</a>
                  </li>
                  <% if(!currentUser){%>
                    <li><a href="/login"><b>Login</b></a></li>
                    <li><a href="/signup"><b>Signup</b></a></li>
                  <%}else {%>
                   <li><a href="/logout">LogOut</a></li>
                  <%}%>
                  
                </ul>
              </div>
              
              <div class="profile">
                <a href="/profile">
                  <div >
                    <i class="fa-regular fa-user fa-2x"></i>
                  </div>
                </a>
              </div>
             </div>
             
             
         
            
          </div>
        </div>
      </nav>
    