*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans";

}
.show-img{
    width: 48rem;
    height: 25rem;
    border-radius: 9px;
}
.nivasa{
    font-weight: 600;
    font-size: 1.25rem;
}
.nav-link{
    color: rgb(0, 0, 0) ;
    font-weight: 500;
    font-size: 1.2rem;
}
.fa-brands{
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    color: blue;
}

  
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 8rem;
}
.cards-hotels{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    
}
.cards-hotels img{
    border-radius: 2rem;
    width: 21rem;
    height: 18rem;
    object-fit: cover;
}
.card{
    margin-bottom: 7rem;
    border: none;
  
   }
   .container
   {
    width: 70rem;

   }
   .reviews{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
   }
   .avg-review{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .profile{
    
    border-radius: 4rem;
    height: 3rem;
    width: 3rem;
    background-color: black;
    display: flex;
justify-content:center ;
align-items: center;
   }
 .fa-user{

color: white;

 }
 .user-log
 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
 }
 .logoutin
 {   position:relative;
    top: 0.5rem;
 }
 .log{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    align-items: center;
     list-style: none;
     color: rgb(0, 0, 0) ;
     font-weight: 500;
     font-size: 1.25rem;
 }
.filters
{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}
.filter{
    opacity: 0.5;
}
.filter:hover
{
    opacity: 1;
}